.table {
  border-collapse: collapse;
  width: 100%;
  color: black;

  th, td {
    padding: 12px;
  }
  tbody tr {
    cursor: pointer;
    td {
      border-top: 1px solid rgba(0,0,0,.4);
    }
  } 
}